* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #171422;
    color: #fff;
    line-height: 1.6;
}

h1 {
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    width: 60%;
    letter-spacing: 1px;
    margin-top: 10%;
    margin-left: 10%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #9E0B37 0%, #FFC531 72%, #9E0B37 100%);
}

.header__nav-list {
    list-style: none;
    display: flex;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: #fff;
}

.header__auth-link {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}


.gradient-button {
    font-weight: 500;
    font-size: 17px;
    color: white;
    background: linear-gradient(145deg, #DF5017 0%, #9E0B37 100%);
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.gradient-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2),
    inset 0 -4px 8px rgba(0, 0, 0, 0.3);
}

.gradient-button:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}


.black::after {
    content: "";
    position: absolute;
    top: 67px;
    left: 0;
    width: 64%;
    height: 50%;
    background: linear-gradient(
            135deg,
            rgba(223, 80, 23, 1) 0%,
            rgba(223, 80, 23, 0.44) 37%,
            rgba(223, 80, 23, 0.19) 64%,
            rgba(223, 80, 23, 0) 100%
    ),
    linear-gradient(
            to right,
            rgba(40, 37, 51, 1) 0%,
            rgba(40, 37, 51, 1) 0%,
            rgba(40, 37, 51, 3) 78%,
            rgba(40, 37, 51, 0) 100%
    );
}

.intro {
    display: flex;
    width: 100%;
    height: 50vh;
}

.black {
    background-color: #171422;
    width: 50%;
}


.intro__image {
    flex: 1;
    background: url('./image/virtual-reality-scenes-depicting-global-connection-00528-02 1.png') no-repeat center center;
    background-size: cover;
}

.gradient-block {
    height: 132px;
    margin: 52px;
    background: linear-gradient(
            to right,
            #FFA462 0%,
            #B45350 22%,
            #8A2645 49%,
            #291725 85%
    );
    border-radius: 20px;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gradient-block p {
    font-family: "Futura", sans-serif;
    margin: 0;
}

.gradient-block strong {
    font-weight: bold;
}

.flex {
    display: flex;
}

.content_info-block {
    padding: 50px;
    padding-left: 65px;
}

.content__logos {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content_info-block_desc {
    padding-top: 20px;
}

.content_info-block_image {
    padding-left: 200px;
}

.content_info-block_image1 {
    padding-right: 50px;
}

.content_info-block_example {
    width: 200px;
    height: 300px;
    padding-right: 5px;
}

.content_info-block_example3 {
    width: 200px;
    height: 300px;
    margin-left: 80px;
}

.content__logos_wrapper {
    width: 220px;
    height: 62px;
    background-color: white;
    border-radius: 10px;
}

.content__logo {
    margin: 12px 0 0 48px;
}

.content__logo-adobe {
    margin: 5px 0 0 100px;
}

.number {
    padding-right: 57px;

}

.gradient-circle {
    width: 77px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at center,
    #ffffff 28%,
    #c1c0c4 65%,
    #86848d 86%,
    #343140 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.centered-image {
    width: 40px;
    height: 40px;
    position: absolute;
}


.gallery {
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.gallery-track {
    display: flex;
    width: calc(200px * 10); /* Ширина одной строки */
    animation: scroll 70s linear infinite;
    position: relative;

}

.gallery-track-two {
    display: flex;
    width: calc(200px * 10); /* Ширина одной строки */
    animation: scroll-reverse 70s linear infinite;
    position: relative;
    left: 50%;
}

.gallery-item {
    min-width: 300px;
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.content {
    width: 78%;
}

.card {
    width: 348px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #171422;
    padding: 20px;
}

.card-block {
    position: relative;
    margin-top: 30px;
}

.card-image {
    width: 100%;
}

.card-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #000000c4;
    top: 210px;
}

.card-text p, .card-text p {
    margin: 0;
    color: white;
}

.card-text p {
    font-size: 12px;
    font-weight: 600;
}

.card-text h2 {
    font-size: 13px;
    font-weight: 700;
}

.card-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #DF5017, #F9CB74);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.card-button a:hover {
    background: linear-gradient(135deg, #F9CB74, #DF5017);
}

.example {
    margin-top: 100px;
    position: relative;
}

.one {
    position: absolute;
    left: 316px;
    top: -10px;
}
.two{
    position: absolute;
    left: 557px;
    top: -103px;
}
.three{
    position: absolute;
    left: 816px;
    top: -10px;
}
.four{
    position: absolute;
    left: 640px;
    top: -58px;
}
.five{
    position: absolute;
    left: 400px;
    top: -40px;
    transform: rotate(130deg);
}